* {
  box-sizing: border-box;
  font-family: Roboto;
}
::-webkit-scrollbar {
  display: none;
}
.gray-background {
  background-color: #dcdcdc;
}
.visibility-hidden {
  visibility: hidden;
}
.visibility-show {
  visibility: visible;
}

.login-screen {
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 3;
}
.login-logo {
  display: flex;
  justify-content: center;
}
.app {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.right-bar {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.6);
}
.box-right-bar {
  position: absolute;
  right: 0px;
  width: 259px;
  height: 100%;
  background: #ffffff;
}
.title-about-people {
  height: 84px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.people-From-chat {
  margin-top: 10px;
  margin-left: 20px;
  height: 40px;
}
.chosePeople {
  height: 120px;
  overflow: scroll;
}
.people {
  display: flex;

  margin-left: 20px;
}
.people,
#img-todos {
  width: 22px;
  height: 17px;
  margin-right: 13px;
}

.chosePrivacy {
  display: flex;
  flex-direction: column;
}
.chosePrivacy span {
  height: 34px;
  display: flex;
  position: relative;
  margin-left: 20px;
  align-items: center;
}
.chosePrivacy img {
  margin-right: 13px;
}
#check {
  position: absolute;
  right: 27px;
}
.login-screen {
  position: fixed;
  background: #e5e5e5;
}
.login-screen input[type="text"]:focus {
  outline: none;
}
.box-left-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #ffffff;
}
.login-logo img {
  position: fixed;
  top: 72px;
  width: 104px;
  height: 73px;
}
.login-input input {
  width: 261px;
  height: 54px;
  background: #ffffff;
  border: 1px solid #d7d7d7;
  border-radius: 4px;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
}

.login-button button {
  width: 109px;
  height: 45px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  border: none 1px;
  border-radius: 9px;
}
.menu-top {
  display: flex;
  position: fixed;
  top: 0px;
  align-items: center;

  width: 375px;
  height: 80px;

  background: #fff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.menu-top #logo {
  width: 75px;
  height: 52px;

  position: fixed;
  left: 22px;
}

.menu-top #icone {
  position: fixed;
  right: 22px;

  width: 43px;
  height: 30px;
}
.messenger {
  display: flex;
  flex-direction: column;
  z-index: -1;
  margin: 20% 0% 20% 0%;
  width: 375px;
  height: 100%;
}
.messenger-line {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;

  padding-left: 8px;
  padding-top: 15px;
  padding-bottom: 15px;

  word-wrap: break-word;
  word-break: break-all;
}
#time-messenger {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  margin-right: 5px;

  color: #aaaaaa;
}
#whoSend,
#Tosend {
  margin-left: 5px;
  margin-right: 5px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: black;
}
#messenger-content {
  display: flex;
  align-items: center;
}
.box-mensager {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 375px;
  height: 80px;
  background-color: #fff;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}
.box-mensager input[type="text"] {
  width: 220px;
  height: 50px;
  border: none;

  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.box-mensager input[type="text"]:focus {
  border: none;
  outline: none;
}

.color-background-text {
  background: #dcdcdc;
}
.color-background-text-reserve {
  background: #ffdede;
}
